*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FEFCF4,#F9F5F5);
}
.menu li{
    list-style: none;
}
   
.menu{
      max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
  .text-menu{
    display: flex;
    gap: 40px;
  }
  .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn-menu button{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: white;
border-color: rgba(174, 0, 255, 0.525);
cursor: pointer;  
}

@media(max-width: 600px){
.text-menu{
    display: none;
    justify-content: space-around;
}
.btn-li{
    display: none;
}
}

.container1{
    max-width: 1200px;
    margin: 0 auto;
 display: flex; 
 flex-direction: column;
 justify-content: center;  
 align-items: center;  
 text-align: center;  
 gap: 50px;
 margin-top: 100px;
}
.cont1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-cont1{
    font-size: 90px;
    font-weight: 100;
}
.inp-btn1 input{
    padding: 10px 30px;
    border-radius: 5px;
}
.inp-btn1 button{
    margin-left: -10px;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    background-color: #6601A3;
    border: none;
    cursor: pointer;
}
.texts-cont1 span{
    color: #6601A3;
}
.texts-cont1{
    font-size: 18px;
}

@media(max-width: 600px){
.text-cont1{
    font-size: 40px;
    font-weight: 600;
}
.texts-cont1{
    font-size: 13px;
    font-weight: 600;
}

.cont01 img{
    width: 380px;
height: auto;
}
}
.container2{
      max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.image-box2{
    display: flex;
    justify-content: space-around;
}
.text-cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.text-cont2 h1{
    font-weight: 100;
}
.fiolet{
    color: #6601A3;
}
@media(max-width: 600px){
.image-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.image-box2 img{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 300px;
}
.text-cont2 p{
font-size: 14px;
}
}
.container3{
       max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px; 
  
    
}
.box-cont3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-big3 h1{
   font-size: 50px; 
  font-weight: 100;
}

.cont-galochka{
display: flex;
flex-direction: column;
gap: 20px;
}
.galochka{
    display: flex;
    gap: 20px;
}
.img-cont03{
    position: relative;
    top: -200px;
    width: 400px;
}
@media(max-width: 600px){
.text-big3 h1{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.box-cont3{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.img-cont03 img{
    width: 400px;
    margin-top: 250px;
}
}
.container4{
          max-width: 1200px;
    margin: 0 auto;
        display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

   table{
  border-radius: 10px;
  padding-left: 50px;
  font-size: 13px;
background: linear-gradient(to bottom, #DBBFFF,#f5f5f5);


   }
 
th,td{

   padding: 10px;
}
.text-tr1 th{
    padding: 50px 0px;
    font-size: 40px;
}
.img-logo001 img{
    display: flex;
   
   
padding: 20px;
}
.probel{
    padding-left: 100px;
}
.center{
   text-align: center;
    border: none;
    padding: 10px;
}
.fiolet-text span{color: #6601A3;
}
.center-text{
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-tr01 th{
    padding: 50px 0px;
    font-size: 20px;
    font-weight: 100;
    color: #6601A3;
}
@media(max-width: 600px){
.container4{
    display: none;
}
}

.container5{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
 .box-conter5{
    display: flex;
 } 

.text-cont5 h1{
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 70px;
}
.img-box-cont5{
    width: 320px;
    background-color: #FFDDDD;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
  
}
.img-girl{
    width: 250px;
    
}
.art-girl{
    width: 40px;
    margin-left: -80px;
    margin-top: 50px;
}
.cont5-big-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
font-weight: 100;

}
.cont5-big-text1{
    font-weight: 600;
}

.text-cont5 h1{
    font-size: 40px;
    font-weight: 100;
}
.img-box2-cont5{
    width: 320px;
    background-color:#FFFADD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}
.img-girl2{
    width: 250px;
    margin-top: 50px;
}
.art-girl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-left: -80px;
    margin-top: 50px;
}

.img-box3-cont5{
    width: 320px;
    background-color: #BFEDE5;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

@media(max-width: 600px){
.box-conter5{
    display: flex;
    flex-direction: column;
}
.text-cont5 h1{
    font-size: 30px;
    font-weight: 600;
}
}

.container6{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
  
    justify-content: center;
    align-items: center;
}

.logo-finish{
    width: 30px;
    display: flex;
   gap: 100px;
    justify-content: center;
    align-items: center;
   
}
.logo-finish-img2{
display: none;

}


.container7{
      max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;

}
.cont-text7{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
}
.box-cont7{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer{
font-size: 13px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;

}

.finish{
    display: flex;
    justify-content: space-between;
   

    

}
.tochka{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;

}

@media(max-width: 600px){

.logo-finish {
display: none;
}

.logo-finish-img2{
  display: flex;
  justify-content: center;
  
  align-items: center;
  gap: 20px;
}
.logo-finish-img{
    width: 50px;
}
}


@media(max-width: 600px){


.cont-text7{
    display: flex;
    justify-content: center;
   font-size: 7px;
   font-weight: 100;
    gap: 25px;
    margin-top: -50px;
}

.finish{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    gap: 30px;
    margin-top: -100px;
}


}